<<<<<<< HEAD
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love in the Apocalypse</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/styletitle.css">
     <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
</head>
<!--class names for css can change if needed-->

<body>
    <div class="row main">
        <div class="large-12 columns bg">
            <div class="large-12 columns  title">
                <div><img  id="logo" src="images/LITAlogo.gif"></div>
            </div>
            <div class="large-8 columns large-offset-2 heads">
                <h1>Wanna play?</h1>
            </div>
            <div class="large-6 columns large-pull-3 login">
                <div class="large-6 columns large-offset-3 loginbuttons">
                    <br>
                    <a role="button" aria-label="submit form" class="button large-offset-3">Yes!</a>
                    <a role="button" aria-label="submit form" class="button">No way!</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
=======
<h1>Example App: Home</h1>
>>>>>>> 482fbd62d2027372d6e843608afd097319487c6b
