<<<<<<< HEAD
<h1>This is the home page</h1>
    <div class="row main">
        <div class="large-12 columns bg">
            <div class="large-12 columns  title">
                <div><img  id="logo" src="img/LITAlogo.gif"></div>
=======
<div class="row main">
<<<<<<< HEAD
        <div class="large-12 columns bg">
            <div class="large-12 columns  title">
                <div><img id="logo" src="public/img/LITAlogo.gif"></div>
>>>>>>> master
=======
        <div class="large-12 columns">
            <div class="large-12 columns  title1">
                <div><img src="/img/LITAlogo.gif"></div>
>>>>>>> 284d9b994ffe4187e8cd6b78a1a1740921ff6ade
            </div>
            <div class="large-8 columns large-offset-2 heads1">
                <h1>Wanna play?</h1>
            </div>
            <div class="large-6 columns large-pull-3 login1">
                <div class="large-6 columns large-offset-3 loginbuttons1">
                    <br>
<<<<<<< HEAD
                    <a href="/zChoice" role="button" aria-label="submit form" class="button large-offset-3">Sign Up</a>
                    <a href="/signin" role="button" aria-label="submit form" class="button">Sign In</a>
=======
                    <a role="button" aria-label="submit form" class="button large-offset-3 yesbtn">Yes!</a>
                    <a role="button" aria-label="submit form" class="button nobtn">No way!</a>
>>>>>>> 284d9b994ffe4187e8cd6b78a1a1740921ff6ade
                </div>
            </div>
        </div> 
    </div>
<<<<<<< HEAD
   
    
=======
    </div>
>>>>>>> master
