<div class="row main">
        <div class="large-12 columns">
            <div class="large-12 columns  title1">
                <div><img src="/img/LITAlogo.gif"></div>
            </div>
            <div class="large-8 columns large-offset-2 heads1">
                <h1>Wanna play?</h1>
            </div>
            <div class="large-6 columns large-pull-3 login1">
                <div class="large-6 columns large-offset-3 loginbuttons1">
                    <br>
                    <a role="button" aria-label="submit form" class="button large-offset-3 yesbtn">Yes!</a>
                    <a role="button" aria-label="submit form" class="button nobtn">No way!</a>
                </div>
            </div>
        </div>
    </div>
    </div>