<body>
    <div class="row main">
        <div><img  class="logo" src="img/LITAlogo.gif"></div>
        <div class="large-12 columns bg">
            <div class="large-12 columns  gamearea"> 
                <div class="large-4 columns large-offset-4" id="signinforms2">
                <h2> Sign In Please </h2>
                    <label>Character's Name
                        <input type="text" placeholder="Name" />
                    </label>
                    <label>Password
                        <input type="password" placeholder="password" />
                    </label>
                    
                    <a href="./zChoice" role="button" aria-label="submit form" class="button">Sign In</a>
                </div>
            </div>
        </div>
    </div>