
    <div class="row main">
        <div><img  id="logo" src="public/img/LITAlogo.gif"></div>
        <div class="large-12 columns bg">
            <div class="large-12 columns  gamearea"> 
                <h3>Don't be gone for too long.</h3>
                <h4>They don't like to be kept waiting</h4>

        </div>
        <div class="large-3 large-push-5 columns">
        <a role="button" class="button">Go back to them</a>
        </div>
        <div id="credits" class="large-12 columns">
                <p>Game made by
                <br>
                Taylor McCullough
                 <br>
                Nathaniel Van Doren
                 <br>
                Kylie Soderblom</p>

            </div>

            </div>

            
    </div>
    