    <div class="row main">
        
        <div class="large-12 columns bg">
        <div><img  id="logo" src="images/LITAlogo.gif"></div>
            <div class="large-12 columns  gameareab"> 
            <div class="large-2 columns love">This is where love meter goes?</div>
                <div class="large-7 columns large-push-3 zombieb"></div>
                <div class="large-12 columns talkbox">
                    <p class="talkwords">This is the talky box</p>
                   
                    <a role="button" class="button">answer1</a>
                    <br>
                    <a role="button"  class="button">answer2</a>
                    <br>
                    <a role="button"  class="button">answer3</a>
                    <br>
                    <a role="button"  class="button">answer4</a>

                </div>
            </div>
        </div>
    </div>
  